/* Configuration file for starting non-secure Mahalo */

import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {

    private static codebase =
        ConfigUtil.concat(
            new Object[] {
		"file:${jini_lib_dl_path}${/}mahalo-dl.jar",
		" ",
		"file:${jini_lib_dl_path}${/}jsk-dl.jar" });
    private static policy = "${jini_res_path}${/}mahalo.policy";
    static private classpath = ConfigUtil.concat(new Object[] {
    		"file:${jini_lib_path}${/}jsk-lib.jar",
		" ",
		"file:${jini_lib_path}${/}mahalo.jar"});
    
    private static config = "${jini_res_path}${/}transient-mahalo.config";
    
    static serviceDescriptors = new ServiceDescriptor[] {
        new NonActivatableServiceDescriptor(
            codebase, policy, classpath,
            "com.sun.jini.mahalo.TransientMahaloImpl",
            new String[] { config })
    };

}//end com.sun.jini.start
